header {
    background-color: white;
    border-bottom: 3px solid rgb(245, 245, 245);
    display: flex ;
    padding: 25px 10%;
    justify-content: space-between;
    
}

header .logo,
header .social { width: 25% }

#siga-conectado {
  
    color: gray;
                float: right;
                font-size: 17px;
                margin-top: 5px;
                margin-right: 10px;
                display: flex;
                text-align:left;
}

header.social a {
float: right;
height: 32px;
margin-left: 5px;
width: 32px;
}

header .youtube_button {
    background-image: url(../images/social_media_icons/yt.png);
    height: 32px;
    width: 32px;
    float: right;
  
} 

header .twitter_button {
    background-image: url(../images/social_media_icons/twitter.png);
    height: 32px;
    width: 32px;
    float: right;
    margin-left: 3px;
    margin-right: 3px;

}

header .facebook_button {
    background-image: url(../images/social_media_icons/facebook.png);
    height: 32px;
    width: 32px;
    float: right;
  
}

header .youtube_button:hover {
    background-image: url(../images/social_media_icons/youtube-hover.png);
    height: 32px;
    width: 32px;
    float: right;
  
} 

header .twitter_button:hover {
    background-image: url(../images/social_media_icons/twitter-hover.png);
    height: 32px;
    width: 32px;
    float: right;
    margin-left: 3px;
    margin-right: 3px;

}

header .facebook_button:hover {
    background-image: url(../images/social_media_icons/facebook-hover.png);
    height: 32px;
    width: 32px;
    float: right;
}



footer {
    background: whitesmoke;
    color: gray;
    text-align: center;
    height: 15px;
    font-size: 14px;
}

main .content {
    display: flex;
  padding: 50px 10%;
  background: #f5f5f5;
  justify-content: center;
  flex-wrap: wrap;
}

.form-area {
background-color: white;
padding: 15px;
margin-left: 15px;
width: 500px;
}

input {
background-color: #f5f5f5;
padding: 6px 1px;
border-radius: 3px;
border: solid 1px gray;
box-sizing: border-box;
height: 48px;
width: 100%;
max-width: 100%;
margin: 10px 0;
}

button#submit-button {
    background: #5b9a68;
    border-radius: 3px;
    border: solid 1px white;
    color: white;
    text-transform: uppercase;
    height: 48px;
    width: 100%;
    padding: 6px 1px;
    max-width: 100%;
}