
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{ font-family: "Open Sans", "Sans-serif" }


h2 {
    color: black;
    font-size: 26px;
    font-weight: normal;
    line-height: 34px;
    padding: 30px 20px;
}

.subtitle {
color: gray;
font-size: 16px;
}

.notes {
    font-size: 12px;
    color: gray;
    padding: 5px;
}

form input, form button {
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400px;
}

